*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 15px;
    font-weight: 400;
    font-style: normal; */
}

html,body{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background-color: #f7f7f7;;
}

#root{
    display: flex;
    flex-direction: column;
}